.landing-page {
  display: flex;
  height: calc(100vh - 96px);
  width: 100%;
}

.landing-page-content {
  display: flex;
  width: 100%;
  overflow-y: auto;
  overflow-x: visible;
  padding-top: 180px;
}

.landing-page .left-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
}

.landing-page .left-bar .circle {
  width: 12px;
  height: 12px;
  border: 2px solid var(--landing-text);
  border-radius: 100px;
  flex-shrink: 0;
}

.landing-page .left-bar .line {
  width: 2px;
  height: 500px;
  flex-shrink: 0;
}

.landing-content {
  flex: 1;
}

.landing-content .block {
  position: relative;
  height: 650px;
}

.landing-content .block .cover {
  position: absolute;
  top: -180px;
  right: 0;
  height: 626px;
}

.slogan {
  width: 678px;
  height: 260px;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  color: transparent;
  background-clip: text;
  background-image: var(--landing-slogan);
  font-size: 80px;
  line-height: 80px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--landing-text);
  background: #fff;
  color: #000;
}

.buttons .btn.black {
  border: 1px solid var(--landing-text);
  background: #000;
  color: white;
}

.data-block {
  display: flex;
  gap: 70px;
  height: 270px;
}

.data-block .item {
  display: flex;
  flex-direction: column;
  color: var(--landing-text);
}

.data-block .item .label {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.data-block .item .value {
  font-family: Manrope;
  font-size: 60px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: 0px;
  text-align: left;
}

.support {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  height: 350px;
  color: var(--landing-text);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.medias {
  display: flex;
  align-items: center;
  gap: 20px;
}

.medias .item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 25%;
}

.medias .item .title {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--landing-text);
}

.medias .item .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 102px;
  background: var(--landing-card-bg);
  border-radius: 12px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--landing-text);
}
